<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Stevens Event Planner - Account Management</title>
    <link rel='stylesheet' href='../public/css/main.css' />
</head>
<body> 
    <h1>Account Management/Error Landing Page</h1>
   <div>This is the landing page for login/signup errors and account management. You may have come here on 
    purpose, or you were sent here by an error. If there was an error, it is displayed below.
   </div>
   <div class = "errorcss">{{error}}</div></br>
   Options:
    <ol>
    <li>
    <form action = "/sendveremail" method="POST">
    Verify Account</br>
    Send New Verification Email? <input type = "checkbox" id = "new_veremail" name = "new_veremail">
    <label for = "new_veremail"></label></input></br>
    Email <input type = "text" id = "errorveremail" name = "errorveremail">
    <label for = "errorveremail"></label></input>
    <button type = "submit">Go</button>
    </form>
    </li>
    <li>
    <form action = "/sendpasswdemail" method="POST">
    Reset Password </br>
    Send New Password Email? <input type = "checkbox" id = "new_pwdemail" name = "new_pwdemail">
    <label for = "new_pwdemail"></label></input></br>
    Email <input type = "text" id = "errorpwdemail" name = "errorpwdemail">
    <label for = "errorpwdemail"></label></input>
    <button type = "submit">Go</button>
    </form>
    </li>
    <li>
   <form action="/logout" method="POST">
    Logout <button type = "submit">Go</button>
  </form>
  </li>
  </ol>
</body>