<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Stevens Event Planner - Change Password</title>
    <link rel='stylesheet' href='../public/css/main.css' />
</head>
<body>
   <h1>Change Password and Log In</h1>
   A new temporary password code should be sent to your email.
   <form action="/changepassword" method="POST">
    Verify Email And Log In<br>
    Email <input type = "text" id = "changepassword_email" name = "changepassword_email">
    <label for = "changepassword_email"></label></input></br>

    Temporary Password <input type = "password" id = "temp_passwd" name = "temp_passwd">
    <label for = "temp_passwd"></label></input></br>

    Password <input type = "password" id = "changepassword_pwd1" name = "changepassword_pwd1">
    <label for = "changepassword_pwd1"></label></input></br>

    Confirm Password <input type = "password" id = "changepassword_pwd2" name = "changepassword_pwd2">
    <label for = "changepassword_pwd2"></label></input></br>

   <button type = "submit">Go</button>


  </form>
</body>