<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Event</title>
    <link rel="stylesheet" href="../public/css/main.css" />
    <script defer src="../public/js/main.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="create-event-title">Create a New Event</h1>
      <!--<form action="/events" method="POST" enctype="multipart/form-data">-->
      <form
        id="create-event-form"
        name="create-event-form"
        action="/events"
        method="POST"
        enctype="multipart/form-data"
      >
        <!-- Event Name -->
        <div class="form-group">
          <label for="event-name">Event Name</label>
          <input type="text" id="event-name" name="name" />
          <span
            class="create-event-error"
            style="display: none; color: red;"
          >Event Name is required.</span>
        </div>

        <!-- Event Description -->
        <div class="form-group">
          <label for="event-description">Event Description</label>
          <input type="text" id="event-description" name="description" />
          <span
            class="create-event-error"
            style="display: none; color: red;"
          >Event Description is required.</span>
        </div>

        <!-- Event Date -->
        <div class="form-group">
          <label for="event-date">Event Date</label>
          <input type="date" id="event-date" name="date" />
          <span
            class="create-event-error"
            style="display: none; color: red;"
          >Event date is required.</span>
        </div>

        <!-- Event Start Time -->
        <div class="form-group">
          <label for="event-start-time">Event Time</label>
          <input type="time" id="event-start-time" name="starttime" />
          <span
            class="create-event-error"
            style="display: none; color: red;"
          >Event start time is required.</span>
        </div>

        <!-- Event End Time -->
        <div class="form-group">
          <label for="event-end-time">Event End Time</label>
          <input type="time" id="event-end-time" name="endtime" />
          <span
            class="create-event-error"
            style="display: none; color: red;"
          >Event end time is required.</span>
        </div>

        <!-- Location -->
        <div class="form-group">
          <label for="event-location">Location</label>
          <input type="text" id="event-location" name="location" />
          <span
            class="create-event-error"
            style="display: none; color: red;"
          >Event location is required.</span>
        </div>

        <!-- Host -->

        <!-- Audience Selection -->
        <div class="form-group">
          <label for="Class">Class</label>
          <select id="Class" name="Class">
            <option value="undergraduate">Undergraduate</option>
            <option value="graduate">Graduate</option>
          </select>
        </div>

        <!-- Flyer Upload -->
        <div class="form-group">
          <label for="Poster">Flyer (optional)</label>
          <input type="file" id="Poster" name="Poster" accept="image/*" />
        </div>

        <button type="submit" class="btn btn-primary">Create Event</button>
      </form>
    </div>

  </body>
</html>