<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Event Feedback</title>
    <link rel='stylesheet' href='../public/css/main.css' />
</head>
<body>
   <h1>Feedback Page</h1>
    <form action="/eventend" method="POST">

    Rating <input type = "number" id = "rating" name = "rating">
    <label for = "rating"></label><br>

    Comment <input type = "text" id = "comment" name = "comment">
    <label for = "comment"></label><br>

    <button type = "submit">Go</button>
  </form>
</body>
</html>