<!-- 
Page the user sees after they log in. 
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Stevens Event Planner - Home</title>
    <link rel='stylesheet' href='../public/css/main.css' />
</head>
<body>
   <h1>Stevens Event Planner Homepage</h1>

   <ol>
        {{#each events}}
        <li>     
            <!-- 
            Need to add a description for each event
            -->
        </li>
    {{/each}}
   </ol>
</body>
</html>