<!-- 
Main landing page for the event planner - Shown before the user logs in
 -->

 <!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <title>Stevens Event Planner - Home</title>
	 <link rel='stylesheet' href='../public/css/main.css' />
 </head>
 <body>
    <h1>Stevens Event Planner Landing Page</h1>
    <form action="/signup" method="POST">
      Sign Up
      <button type = "submit">Go</button>
    </form>
    <form action="/login" method="POST">
      Login
      <button type = "submit">Go</button>
    </form>
    <script src="../public/js/main.js"></script>
 </body>
 </html>