<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Stevens Event Planner - Login</title>
    <link rel='stylesheet' href='../public/css/main.css' />
</head>
<body>
   <h1>Login Page</h1>
   <form action="/checkpassword" method="POST">
    Email <input type = "text" id = "login_email" name = "login_email">
    <label for = "login_email"></label></input></br>
    Password <input type = "password" id = "login_password" name = "login_password">
    <label for = "login_password"></label></input></br>
    <button type = "submit">Go</button>
  </form>
   <script src="../public/js/main.js"></script>
</body>
</html>