<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Stevens Event Planner - Signup</title>
    <link rel='stylesheet' href='../public/css/main.css' />
</head>
<body>
   <h1>Signup Page</h1>
    <form action="/createaccount" method="POST">
    First Name <input type = "text" id = "signup_first_name" name = "signup_first_name">
    <label for = "signup_first_name"></label><br>

    Last Name <input type = "text" id = "signup_last_name" name = "signup_last_name">
    <label for = "signup_last_name"></label><br>

    Email <input type = "text" id = "signup_email" name = "signup_email">
    <label for = "signup_email"></label><br>

    <label for="Class">Class</label>
    <select id="Class" name="Class">
    <option value="undergraduate">Undergraduate</option>
    <option value="graduate">Graduate</option>
    </select><br>

    Password <input type = "password" id = "signup_password1" name = "signup_password1">
    <label for = "signup_password1"></label><br>

    Confirm Password <input type = "password" id = "signup_password2" name = "signup_password2">
    <label for = "signup_password2"></label><br>



    <button type = "submit">Go</button>
  </form>
</body>
</html>